<div id="app">
  <ul>
    @for (fruit of fruits; track fruit) {
      @if (!filter) {
        <li>{{ fruit }}</li>
      } @else if (fruit.includes(filter)) {
        <li>{{ fruit }}</li>
      }
    }
  </ul>
  <input type="text" onchange="setFilter($event)" />
  <div [formGroup]="loginForm">
    <label>username:</label>
    <input type="text" id="username" formControlName="username" />
    @if (loginForm.controls["username"].errors) {
      <p>Username is required</p>
    }
    <br />
    <label>email:</label>
    <input type="email" id="email" formControlName="email" />
    <br />
    <label>password:</label>
    <input type="password" id="password" formControlName="password" />
    <br />
    <button type="submit" (click)="submit()" [disabled]="loginForm.invalid">
      submit
    </button>
  </div>
</div>

<router-outlet></router-outlet>
